#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.authenticate{
  border: 3px solid blue;
  border-radius: 2rem;
  padding-top: 10px;
  margin: 5%;
}

.signup{
  border: 3px solid green;
  border-radius: 1rem;
  padding: 15px;
 
}
button{
  color: orangered;
  background-color:purple;
  border: 3px solid #EEB61B;
}